In [1]:
people = {
    "first": ["jay", "Jane","John"],
    "last" : ["murali","doe","doe"],
    "email": ["jaymurali@email.com","janedoe@email.com","johndoe@email.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

  first    last                email
0   jay  murali  jaymurali@email.com
1  Jane     doe    janedoe@email.com
2  John     doe    johndoe@email.com

In [8]:
filt = (df['last']=='doe')

In [10]:
df[filt]

  first last              email
1  Jane  doe  janedoe@email.com
2  John  doe  johndoe@email.com

In [11]:
df.loc[filt]

  first last              email
1  Jane  doe  janedoe@email.com
2  John  doe  johndoe@email.com

In [17]:
df.loc[filt,'email']

1    janedoe@email.com
2    johndoe@email.com
Name: email, dtype: object

In [27]:
filt1 = (df['last']=='doe') & (df['first']=='John')

In [26]:
df[filt1]

  first last              email
2  John  doe  johndoe@email.com

In [28]:
filt2 = (df['last']=='doe') | (df['first']=='John')

In [29]:
df[filt2]

  first last              email
1  Jane  doe  janedoe@email.com
2  John  doe  johndoe@email.com

In [30]:
df[~filt2]

  first    last                email
0   jay  murali  jaymurali@email.com