In [2]:
people = {
    "first": ["jay", "Jane","John"],
    "last" : ["murali","doe","doe"],
    "email": ["jaymurali@email.com","janedoe@email.com","johndoe@email.com"]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  first    last                email
0   jay  murali  jaymurali@email.com
1  Jane     doe    janedoe@email.com
2  John     doe    johndoe@email.com

In [6]:
df['email']

0    jaymurali@email.com
1      janedoe@email.com
2      johndoe@email.com
Name: email, dtype: object

In [11]:
df.set_index('email',inplace=True)

In [8]:
df

  first    last                email
0   jay  murali  jaymurali@email.com
1  Jane     doe    janedoe@email.com
2  John     doe    johndoe@email.com

In [12]:
df.index

Index(['jaymurali@email.com', 'janedoe@email.com', 'johndoe@email.com'], dtype='object', name='email')

In [20]:
df.loc["jaymurali@email.com",'last']

'murali'

In [21]:
df.reset_index(inplace=False)

                 email first    last
0  jaymurali@email.com   jay  murali
1    janedoe@email.com  Jane     doe
2    johndoe@email.com  John     doe