In [5]:
people = {
    "first": ['john', 'jane', 'jay'],
    "second": ['doe','doe','m'],
    "third":['john@email.com','jane@email.com','jay@email.com']
}

In [7]:
people.first

AttributeError: 'dict' object has no attribute 'first'

In [8]:
people["third"]

['john@email.com', 'jane@email.com', 'jay@email.com']

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(people)

In [11]:
df

  first second           third
0  john    doe  john@email.com
1  jane    doe  jane@email.com
2   jay      m   jay@email.com

In [12]:
df['third']

0    john@email.com
1    jane@email.com
2     jay@email.com
Name: third, dtype: object

In [13]:
df.third

0    john@email.com
1    jane@email.com
2     jay@email.com
Name: third, dtype: object

In [14]:
df[['first','second']]

  first second
0  john    doe
1  jane    doe
2   jay      m

In [16]:
df.columns
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [16]:
df.columns

Index(['first', 'second', 'third'], dtype='object')

In [17]:
df.iloc[0]

first               john
second               doe
third     john@email.com
Name: 0, dtype: object

NameError: name 'df' is not defined

In [17]:
df.iloc[[0,1],2]

0    john@email.com
1    jane@email.com
Name: third, dtype: object

In [18]:
df

  first second           third
0  john    doe  john@email.com
1  jane    doe  jane@email.com
2   jay      m   jay@email.com

In [23]:
df.loc[[0,1],['third','second']]

            third second
0  john@email.com    doe
1  jane@email.com    doe

In [24]:
df.set_index['third']

TypeError: 'method' object is not subscriptable

In [26]:
df.set_index('third', inplace=True)

In [27]:
df

               first second
third
john@email.com  john    doe
jane@email.com  jane    doe
jay@email.com    jay      m

In [28]:
df.loc["jay@email.com"]

first     jay
second      m
Name: jay@email.com, dtype: object

In [30]:
df

               first second
third
john@email.com  john    doe
jane@email.com  jane    doe
jay@email.com    jay      m

In [33]:
df.reset_index(inplace=True)
df

TypeError: 'bool' object is not callable

In [38]:
df

               first second
third
john@email.com  john    doe
jane@email.com  jane    doe
jay@email.com    jay      m