In [5]:
people = {
    "first": ['john', 'jane', 'jay'],
    "second": ['doe','doe','m'],
    "third":['john@email.com','jane@email.com','jay@email.com']
}

In [6]:
people.first

AttributeError: 'dict' object has no attribute 'first'

In [7]:
people["third"]

['john@email.com', 'jane@email.com', 'jay@email.com']

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

  first second           third
0  john    doe  john@email.com
1  jane    doe  jane@email.com
2   jay      m   jay@email.com

In [11]:
df['third']

0    john@email.com
1    jane@email.com
2     jay@email.com
Name: third, dtype: object

In [12]:
df.third

0    john@email.com
1    jane@email.com
2     jay@email.com
Name: third, dtype: object

In [14]:
df[['first','second']]

  first second
0  john    doe
1  jane    doe
2   jay      m

In [15]:
df.columns
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [16]:
df.columns

Index(['first', 'second', 'third'], dtype='object')

In [17]:
df.iloc[0]

first               john
second               doe
third     john@email.com
Name: 0, dtype: object